{% extends 'base.html.twig' %}

{% block title %}Service Credit{% endblock %}

{% block body %}
    {% block contenpage %}



        <h4 class="card-title">Admin</h4>
        <p class="card-description"> Visualisation<code>.table</code>
        </p>
        <section class="s-crossfit">
            <div class="container">


                <div class="sidebar-search">

                    <div class="input-group custom-search-form">
                        <iframe title="bnataux" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=55cdf08c-6112-4aea-804a-9a1ab2418eb7&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            </section

    {% endblock %}
{% endblock %}
